In [ ]:
#Izunna Eliogu
#ID: 146ea351c801f000

In [22]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# For data preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# For modelling
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# For model evaluation
from sklearn.metrics import accuracy_score, recall_score, f1_score

In [23]:
df=pd.read_csv('/content/DD.csv')
df
dataset_df=df
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [24]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [26]:
 #Checking for missing values
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [27]:
# Checking for the summary statistics of the dataset
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [28]:
# Checking for imbalance in the target variable

df.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [59]:
# Splitting the dataset into target and features

features = df.drop(columns=['stab', 'stabf'])
target =  df['stabf']

In [30]:
# Splitting the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=1)

In [31]:
x_train.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
2694,6.255995,2.542401,7.024714,9.476518,3.529888,-1.224881,-0.688228,-1.616780,0.568221,0.618403,0.685739,0.660088
5140,5.070581,5.490253,8.075688,0.761075,4.220888,-1.280596,-1.902185,-1.038107,0.443515,0.097244,0.916955,0.129254
2568,1.220072,8.804028,3.874283,8.433949,3.614027,-1.039236,-0.953566,-1.621224,0.908353,0.923594,0.238881,0.660156
3671,7.498402,6.697603,8.798626,2.126236,3.134585,-1.581906,-0.589386,-0.963293,0.260826,0.899003,0.964752,0.600598
7427,7.074006,1.337511,6.100756,7.759156,2.526922,-0.922540,-0.632600,-0.971782,0.984580,0.716082,0.836928,0.165162

In [32]:
y_train.head()

2694    unstable
5140    unstable
2568    unstable
3671    unstable
7427    unstable
Name: stabf, dtype: object

In [33]:
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [38]:
scaler = StandardScaler()
x_train_scaled = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)

In [39]:
x_train_scaled.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.367327,-0.986042,0.650447,1.547527,-0.291490,0.061535,1.293862,-0.845074,0.160918,0.339859,0.585568,0.492239
1,-0.064659,0.089437,1.035079,-1.641494,0.619865,-0.067235,-1.502925,0.486613,-0.293143,-1.558488,1.429649,-1.443521
2,-1.467850,1.298418,-0.502536,1.166046,-0.180521,0.490603,0.682560,-0.855302,1.399350,1.451534,-1.045743,0.492489
3,0.820081,0.529920,1.299657,-1.141975,-0.812854,-0.763632,1.521579,0.658780,-0.958319,1.361958,1.604140,0.275303
4,0.665424,-1.425627,0.312300,0.919137,-1.614296,0.760315,1.422019,0.639243,1.676895,0.695660,1.137504,-1.312575

In [40]:
x_test_scaled = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)
x_test_scaled.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.593951,-0.412733,1.503924,1.116943,0.403423,-1.492971,-0.785033,1.566781,-0.901007,1.167203,-1.507330,1.084726
1,0.202190,0.374416,-0.188800,-0.522268,-0.225967,-1.058483,0.420047,1.028627,-1.625721,-0.395660,1.414651,1.226011
2,-1.079044,-0.313745,-0.884634,0.017080,-0.943122,0.112653,0.801335,0.733004,1.457108,-1.438495,0.651821,-1.682168
3,-0.083120,-1.107327,0.372805,-1.708152,0.753990,-1.637972,0.403805,-0.088036,0.083322,-1.672322,-0.357714,1.055865
4,0.873921,1.438466,0.086662,1.715037,-0.153880,-0.007015,-0.197053,0.472315,0.136549,-1.469731,0.956396,-0.819727

In [41]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
y_train=encoder.fit_transform(y_train)
y_test=encoder.fit_transform(y_test)

In [42]:
#Question 1
#why do we use weak learners
#ANS: To prevent overfitting

In [ ]:
#q3

In [ ]:
#Question 3
#ANS; RECALL

In [ ]:
#QUESTION 3
#ANS;

In [13]:
#Question 4
#no of zeros=3.No of 1's=4, total=7
#ENTROPY=-(3/7log(3/7))+(4/7log(4/7))
#-3/7log(3/7)-4/7log(4/7)
#ans;A

In [14]:
#Question 5
from sklearn.model_selection import RandomizedSearchCV

n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None]

In [15]:
hyperparam_grid = {'n_estimators': n_estimators, 'min_samples_leaf': min_samples_leaf, 'min_samples_split': min_samples_split, 'max_features':max_features}
ext_trees_cl = ExtraTreesClassifier(random_state=1)
rand_grid_search = RandomizedSearchCV(ext_trees_cl, param_distributions=hyperparam_grid,
                                      random_state=1,
                                      scoring='accuracy',
                                      n_iter=10,
                                      cv=5,
                                      n_jobs=-1,
                                      verbose=1)

In [16]:
rand_grid_search.fit(x_train_scaled, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=ExtraTreesClassifier(random_state=1),
                   n_jobs=-1,
                   param_distributions={'max_features': ['auto', 'sqrt', 'log2',
                                                         None],
                                        'min_samples_leaf': [1, 2, 4, 6, 8],
                                        'min_samples_split': [2, 3, 5, 7, 9],
                                        'n_estimators': [50, 100, 300, 500,
                                                         1000]},
                   random_state=1, scoring='accuracy', verbose=1)

In [17]:
rand_grid_search.best_params_

#ANS TO QUESTION 5 IS B

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [18]:
#QUESTION 6
# Precision formula: Precision = TP/(TP + FP)

precision = 255/(255 + 1480)

# Recall formula: Recall = TP/(TP + FN)

recall = 255/(255 + 45)

# Compute F1 score
F1_score = 2*(precision*recall)/(precision + recall)

F1_score = round(F1_score, 4)

print(f'F1_score = {F1_score}')

F1_score = 0.2506

In [43]:
#QUSTION 7
# For ExtraTreesClassifier with no hyperparameter tuning

ext_trees_cl.fit(x_train_scaled, y_train)

ext_trees_pred = ext_trees_cl.predict(x_test_scaled)

untuned_acc_score = round(accuracy_score(y_test, ext_trees_pred), 4)

untuned_acc_score

0.928

In [44]:
# For ExtraTreesClassifier with hyperparameter tuning

ext_trees_tuned = ExtraTreesClassifier(n_estimators=1000, min_samples_split=2,
                                       min_samples_leaf=8,
                                       max_features=None, random_state=1)

ext_trees_tuned.fit(x_train_scaled, y_train)

new_pred = ext_trees_tuned.predict(x_test_scaled)

tuned_acc_score = accuracy_score(y_test, ext_trees_pred)

tuned_acc_score

0.928

In [45]:
#ANS TO QUESTION 7; A
#NO CHNAGE

In [46]:
#QUESTION 8
#ANS;8. 8 IS the least accurate

In [47]:

#QUESTION 9
#using XGB
#ans=0.9195

xgb_cl = XGBClassifier(random_state=1)
xgb_cl.fit(x_train_scaled, y_train)
xgb_pred = xgb_cl.predict(x_test_scaled)

xgb_pred
#checking accuracy score
acc_score = accuracy_score(y_test, xgb_pred)
acc_score

0.9195

In [48]:
#Question 10
#ans=Accuracy. A
#Accuracy  is not a good metric 
#for evaluating classification algorithms for data with imbalanced class problems.

In [49]:
#QUESTION 11. Accuracy of the test using LGBM
#ANS=0.9375
lgbm_cl = LGBMClassifier(random_state=1)
lgbm_cl.fit(x_train_scaled, y_train)
lgbm_pred = lgbm_cl.predict(x_test_scaled)
acc_score = accuracy_score(y_test, lgbm_pred)
acc_score

0.9375

In [ ]:
#QUESTION 12
#The ROC curve above was 
#generated from a classification algorithm. What can we say about this classifier?

#ANS=A,The model has no discrimination capacity to differentiate between the positive and the negative class

In [50]:
#QUESTION 13
#What is the accuracy on the test set using the random forest classifier? In 4 decimal places.
#ANS=0.929
rand_forest = RandomForestClassifier(random_state = 1)
rand_forest.fit(x_train_scaled, y_train)
rand_forest_pred = rand_forest.predict(x_test_scaled)
accuracy = round(accuracy_score(y_test, rand_forest_pred), 4)
accuracy

0.929

In [ ]:
#QUESTION 14
#ANS= #Generate synthetic samples/data using SMOTE AND Use Bagging method

In [52]:
#QUESTION 15
#ANS=A
# Recall = TP/(TP + FN)
# False Positive Rate (FPR) = FP/(FP + TN)
# Cost = 5*FP + FN

def value_calc(TN,FP,FN,TP):
    recall = TP/(TP + FN)
    fpr = FP/(FP + TN)
    cost = 5*FP + FN
    print(f'Recall = {recall}\n')
    print(f'False Positive Rate = {fpr}\n')
    print(f'Cost = {cost}\n')

    # option A:
# TN = 98, FP = 2, TP = 18, TP = 82

value_calc(98,2,18,82)

Recall = 0.82

False Positive Rate = 0.02

Cost = 28

In [53]:
# option B:
# TN = 99, FP = 1, FN = 21, TP = 79
value_calc(99,1,21,79)

Recall = 0.79

False Positive Rate = 0.01

Cost = 26

In [54]:
# For option C:
# TN = 96, FP = 4, FN = 10, TP = 90
value_calc(96,4,10,90)

Recall = 0.9

False Positive Rate = 0.04

Cost = 30

In [55]:
# For option D:
# TN = 91, FP = 9, FN = 22, TP = 78
value_calc(91,9,22,78)

Recall = 0.78

False Positive Rate = 0.09

Cost = 67

In [57]:
answers_dict = {'Option A':[0.82,0.02,28], 'Option B':[0.79,0.01,26], 'Option C':[0.9,0.04,30], 'Option D': [0.78,0.09,67]}

answers_df = pd.DataFrame(answers_dict, index=['Recall', 'FPR', 'Cost'])

answers_df

        Option A  Option B  Option C  Option D
Recall      0.82      0.79      0.90      0.78
FPR         0.02      0.01      0.04      0.09
Cost       28.00     26.00     30.00     67.00

In [ ]:
#QUESTION 16
#ANS=rmse value

In [ ]:
#Question 17;You are building a classifier and the accuracy is poor on 
#both the training and test sets. Which would you use to try to improve the performance?

#ans=bagging

In [58]:
#question 18
#ans=tau2 and p1
feature_imp = ext_trees_tuned.feature_importances_

feature_imp
sorted(zip(feature_imp, features), reverse=True)

[(0.14050750384993677, 'tau2'),
 (0.13723974766109256, 'tau1'),
 (0.1354167630909727, 'tau4'),
 (0.13468028520386593, 'tau3'),
 (0.11306267999167334, 'g3'),
 (0.10954089174337298, 'g4'),
 (0.10757764577478764, 'g2'),
 (0.10256244080927947, 'g1'),
 (0.005429268421191957, 'p3'),
 (0.005336864710946151, 'p2'),
 (0.004962486591192238, 'p4'),
 (0.003683422151688322, 'p1')]

In [ ]:
#question 19
#ans=One-hot encoding

In [ ]:
#question 20
#ans=Overfitting